{% extends 'admin.html.twig' %}
{% block title %}
	{{ parent() }}
	| Séances - Ajouter
{% endblock %}
{% block admin_content_title %}AJOUT D'UNE SÉANCE
{% endblock %}
{% block admin_content %}
	<div class="row d-flex justify-content-center">
		<div class="col">
			{{ include('admin/session/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
